@charset "utf-8";
/* CSS Document */
img {
    border-style: none;
}

* {
    font-family: Arial, Verdana;
}

body {
    color: #000000;
    background: #000000;
}

#banner {
    background: url(pics/banner.jpg);
    margin: auto;
    width: 1000px;
    height: 200px;
}

#mainbody {
    width: 980px;
    margin: auto;
    background: url(pics/bk.jpg);
    padding: 10px;
}

#body {
    width: 780px;
    height: 500px;
    float: right;
    margin: auto;
    padding-left: 40px;
    overflow: auto;
}

#footer {
    width: 980px;
    height: 50px;
    background: url(pics/footer.jpg);
    margin: auto;
}

#menu {
    width: 980px;
    margin: auto;
    background: #FFFFFF;
    padding-bottom: 10px;
}

#nav {
    width: 140px;
    float: left;
    margin: 10px;
}

#nav a {
    display: block;
    height: 25px;
    padding: 15px;
    font-size: 16px;
    text-decoration: none;
    background: url(pics/menu_rev.jpg);
    background-repeat: repeat-y;
    border-bottom: #CCCCCC thin solid;
    color: #0000FF;

}

#nav a:hover {
    color: #000000;
    background: url(pics/menu.jpg);
}

table.pro_setting{
    width: 100%;
}
.pro_setting a{
    display: block;
    background: #660000;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
}
.pro_setting a:hover{
    background: #fff;
    color: #660000;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
}
